<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>

</head>
<body>

<div id="navContainer" th:fragment="navbar">
	<nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
<!-- 		<a href="/home"> -->
<!-- 			<img class="navbar-brand" th:src="@{img/logoadb.png}"> -->
  <a class="navbar-brand" th:href="@{/home}">VDR</a>
<!-- 		</a> -->
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="/user">Packages</a></li>
			<li class="nav-item"><a class="nav-link" href="/families">FAQ</a></li>
		</ul>
		<ul class="nav navbar-nav flex-row justify-content-between ml-auto">
			<li class="dropdown order-1">
				<button type="button" id="dropdownMenu1" data-toggle="dropdown"
					class="btn btn-outline-secondary dropdown-toggle" sec:authentication="name">
				</button>
  <div class="dropdown-menu dropdown-menu-right" >
    <a class="dropdown-item" data-toggle="modal" href="#changePswModal"><i class="fas fa-key"></i>Password</a>
    <a class="dropdown-item" data-toggle="modal" href="#tasksModal"><i class="fas fa-download"></i>Processes</a>
    <div class="dropdown-divider"></div>
    					<form class="dropdown-item" th:action="@{/logout}" method="post">
					<i class="fas fa-sign-out-alt"></i>
						<input type="submit" class="btn btn-link" value="Sign Out" />
					</form>
  </div>
			</li>
		</ul>
	</nav>
	
	
		<!-- Modal -->
	<div class="modal fade" id="changePswModal" tabindex="-1"
		role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="pswForm" th:action="@{/ajax/changePsw}" method="post">
				<div class="modal-body">
						<div class="form-group">
						<div id=errPsw class="alert alert-danger" role="alert" style="display: none">Couldn't change password.</div>
						<div id=diffPsw class="alert alert-danger" role="alert" style="display: none">Insert the same passord in both field.</div>
						<div id="succPsw" class="alert alert-success" role="alert" style="display: none">Password changed.</div>
							<label for="psw1">New Password:</label> 
							<input type="password" class="form-control" id="psw1" required>
						</div>
						<div class="form-group">
							<label for="psw2">Repeat Password:</label>
							<input type="password" class="form-control" id="psw2" required>
						</div>
				</div>
				<div class="modal-footer">
					<button id="pswButton" type="submit" class="btn btn-primary">Send</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	
	
		<div class="modal fade" id="tasksModal" 
		role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Personal Processes</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				        <table id="taskTable" class="table table-stripped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Progress</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            <tr>
            <td>processo1</td>
            <td>
            <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 75%;">75%</div>
</div>
            </td>
            <td>In corso</td>
            </tr>

            </tbody>
        </table>
			</div>
		</div>
	</div>
	
	
	
</div>

</body>
</html>