.carousel .item {
	width: 100%; /*slider width*/
}

.carousel .item img {
	width: 100%; /*img width*/
}

.carousel img {
	width: 100%;
	height: 450px;
}

#introSection{
	margin-bottom: 25px;
}

#description {
	text-align: center;
}

#docsTitle{
	margin-left: 4rem;
}


#docTree {
	min-height: 250px;
}

#downloadPanel {
	position: fixed;
	width: 25%;
	top: 60%;
	right: inherit;
    padding: 1rem;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 0.5rem;
    min-height: 7rem;
}

#download {
	margin-top: 15px;
}

li .icon {
	margin-right: 25px !important;
}


#commForm, .modalButton{
	text-align: center;
}