.carousel .item {
	width: 100%; /*slider width*/
}

.carousel .item img {
	width: 100%; /*img width*/
}

.carousel img {
	width: 100%;
	height: 450px;
}

#description {
	text-align: center;
}

#docTree {
	min-height: 250px;
}

#downloadPanel {
	position: fixed;
	width: 25%;
	top: 60%;
/* 	display:none; */
}

#download {
	margin-top: 15px;
}

li .icon {
	margin-right: 25px !important;
}