body{
	font-style: italic;
}


.modal-content{
    background: rgba(0,0,0,0.6);
    color: white;
}


.dropdown-menu .fas {
	margin-right: 10px;
}


.dropdown-menu .btn-link{
	color: inherit;
	text-decoration: none;
}