

.parallax{
	background: url(../img/architecture.jpg) no-repeat center center scroll;
	top:0px;
    left:0px;
    right:0px;
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .parallax h3{ */
/*     padding: 130px; */
/* 	color: #343a40; */
/* } */

.listContainer{
	padding: 5%;
}

.listContainer .row{
	margin-bottom: 20px;
}