<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" 
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous">


<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/detail.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-treeview.min.css}" />

<base th:href="@{/}">
</head>
<body>


	<div th:replace="fragments/navbar :: navbar">...</div>

	<section class="carouselSection" th:if="${firstImage != null}">

		<div id="slider" class="carousel slide" data-ride="carousel">
			<ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
			</ul>
			<div class="carousel-inner">
				<div class="carousel-item active">
						<img th:src="'data:image/' + ${firstImage.getExtension()} + ';base64, '+ ${firstImage.getBase64()}" />
					<div class="carousel-caption">
						<h1 th:text="${entity.name}"></h1>
					</div>
				</div>
				<div class="carousel-item" th:each="image : ${sliderImages}">
					<img th:src="'data:image/' + ${image.getExtension()} + ';base64, ' + ${image.getBase64()}" />
					<div class="carousel-caption">
						<h1 th:text="${entity.name}"></h1>
					</div>
				</div>

			</div>
			<a class="carousel-control-prev" href="#slider" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a> <a class="carousel-control-next" href="#slider" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>
	</section>
	<br>
	<br>
	<br>
	<div class="container" id="introSection">
		<div class="row">
			<div class="col-sm-3">
				<a th:href="@{/user}"><i class="fas fa-backward fa-3x"></i></a>
			</div>
			<div class="col-sm-6" id="description">
				<h3 th:text="${entity.description}"></h3>
			</div>
			<div class="col-sm-3">
				<img class="float-right" th:src="'data:image/png;base64, ' + ${entity.getCompanyImage()}"
					height="80" width="100"></img>
			</div>
		</div>
	</div>
	<input type="hidden" id="doctree" th:value="${docTree}" />
	
	<br>
	
	
<div class="container-fluid" id="sectionHeader">
<div class="row">
<div class="col">
<p id="docsTitle">Documents</p>
</div>
<div class="col offset-sm-8">
	<button type="button" class="btn btn-secondary" th:onclick="'fullDownload('+${entity.id}+')'">Full download<i class="fas fa-download"></i></button>
	</div>
	
	</div>
	<hr id="startDocs">
	</div>
	
	
	<br>
	<div class="container" id="docSection">
		<div class="row">
			<div class="col-sm-8">
				<div id="docTree"></div>
			</div>
			<div class="col-sm-4">
				<div id="downloadPanel">
					<h5>_____</h5>
					<div id="download">
						<i id="fileIcon"></i>
						<button type="button" class="btn btn-secondary float-right"
							onclick="download()"><i class="fas fa-download fa-2x"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<input type="hidden" id="selectedNode" />



	<hr id="endDocs">

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


	<!-- Button trigger modal -->
	<div class="modalButton">
	<button type="button" class="btn btn-secondary" data-toggle="modal"
		data-target="#exampleModalCenter">Communications</button>
</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Send
						Communication</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">


					<form action="#" id="commForm">
						<div class="form-group">
							<label for="email">Reference Asset:</label> <input type="email"
								class="form-control" id="asset">
						</div>
						<div class="form-group">
							<label for="pwd">Message:</label>
							<textarea class="form-control" id="message"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Send</button>
					</form>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>



	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


	<footer>
		<div th:replace="fragments/footer :: scripts"></div>
		<script type="text/javascript"
			th:src="@{/js/bootstrap-treeview.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/detail.js}"></script>
	</footer>





	<script>
		setUpView();
	</script>


</body>




</html>