<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/resetpassword.css}" />


</head>
<body>

	<section></section>
	<div class="container">
	<div class="row" th:if=${successfull}>
	<div class="col-sm-10">
	<div class="alert alert-success" role="alert">
  		Reset password successfull. You will receive an email message containing a link for password reset.
</div>
</div>
	
	</div>
  <div class="row" th:unless=${successfull}>
    <div class="col-sm" id="instructions">
		<p>Answer your personal question to identify yourself.</p>
		<br>
		<p>If the data is correct you'll receive an email with a link to reset your password.</p>
		</div>
		<div class="col-sm">
		<div class="alert alert-danger" role="alert" th:if=${wrongAnswer}>
  			Wrong answer. Try again.
		</div>
		<form th:action="@{/passRecovery3}" method="post">
		
			<div class="form-group row">
					<label for="answer">What is your father middle name?</label>
					<input type="text" class="form-control" id="answer" name="answer" required>
					<input type="hidden" class="form-control" id="email" name="email" th:value="${userMail}" required>
				</div>
			<div class="form-group row">
			<div class="col-sm-12">
			<button type="submit" class="btn btn-primary float-right">Submit</button>
			</div>
			</div>
			
		</form>
		</div>
</div>
</div>

	<div th:replace="fragments/footer :: scripts"></div>


</body>
</html>