<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous">
	
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/roles.css}" />

<base th:href="@{/}">

<title>Roles</title>
</head>
<body>


	<div th:replace="fragments/navbar :: navbar"></div>


<br>

<br>

<br>

<div id="title">
<h1>Roles and Privileges</h1>
</div>
<br>

<hr>

	<div class="container-fluid">
	
	
	<div class="row">
  <div class="col-4">
<!--       <div class="list-group" id="list-tab" role="tablist" > -->

<!-- th:onclick="'getPrivileges('+${role.id}+')'" -->
  
    <div class="list-group" id="list-tab" role="tablist" >
      <a class="list-group-item list-group-item-action" th:each="role : ${roles}" th:id="${role.id}" data-toggle="list" th:href="'#list-'+${role.id}" role="tab"  th:text="${role.getRoleNameWithoutPrefix()}"></a>
    </div>
  </div>
  <div class="col-4">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show" th:each="role : ${roles}" th:id="'list-'+${role.id}" role="tabpanel">
      		<ul class="list-group" id="privilegesForRole">
      			<li class="list-group-item" th:id="'privilege_'+${privilege.id}" th:each="privilege : ${role.getPrivileges()}" th:inline="text"><button type="button" id="delButton" class="btn btn-secondary" th:onclick="'removePrivilege('+${privilege.id}+')'"><i class="fas fa-times fa-1x"></i></button>[[${privilege.name}]]</li>
      		</ul>
      </div>
    </div>
  </div>
  <div class="col-4">
  		<button type="button" class="btn btn-secondary float-right" data-toggle="modal" data-target="#privilegeModal" onclick="getPrivilegesSelection()">
  			Add Privilege
		</button>
  </div>
</div>
</div>

<br>

<br>



<div class="modal fade" id="privilegeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Privilege to role.</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="pvlForm" th:action="@{/ajax/addPrivilege}" method="post">
      <div class="modal-body">
<!--         <div class="form-group"> -->
<!--     <div class="form-check"> -->
<!--       <input class="form-check-input" type="checkbox" id="gridCheck"> -->
<!--       <label class="form-check-label" for="gridCheck"> -->
<!--         Check me out -->
<!--       </label> -->
<!--     </div> -->
    </div>
<!--       </div> -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      </form>
    </div>
  </div>
</div>

	<div th:replace="fragments/footer :: scripts"></div>
	
	<script type="text/javascript" th:src="@{/js/roles.js}"></script>


</body>
</html>