<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}" />

</head>
<body>


	<div th:replace="fragments/navbar :: navbar">...</div>


	<section>
		<h1 th:inline="text">Welcome
			[[${#httpServletRequest.remoteUser}]]!</h1>
	</section>

	<br>

	<div class="listContainer">



		<div class="row" th:each="entity : ${entities}">
<!-- <th th:each="family : ${families}"> -->
			<div class="col"><a th:href="@{/detail(entityName=${entity.name})}"><img th:src="@{/img/defaultcover.png}" height="80" width="100"></img></a></div>
			<div class="col-4"><p th:text="${entity.name}"></p></div>
			<div class="col"></div>
			<div class="col"><img th:src="@{${entity.getCoverImageName()}}" height="80" width="100"></img></div>

		</div>

	</div>
	




	<!-- <div class="container"> -->

	<!--     <div class="starter-template"> -->
	<!--         <h1>User page (Spring Security protected)</h1> -->

	<!--         <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1> -->
	<!--         <form th:action="@{/logout}" method="post"> -->
	<!--             <input type="submit" value="Sign Out"/> -->
	<!--         </form> -->

	<!--     </div> -->

	<!--     <img th:src="@{/image.jpg}"></img> -->
	<!-- sss -->
	<!-- </div> -->
	<!-- /.container -->

	<div th:replace="fragments/footer :: footer"></div>


</body>
</html>