<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/resetpassword.css}" />

<base th:href="@{/}">
</head>
<body>

	<section id="bannerSection"></section>
	
	<div class="container">

		<div id=invalidPsw class="alert alert-danger" role="alert"
			style="display: none"></div>
		<div id=errPsw class="alert alert-danger" role="alert"
			style="display: none">Couldn't change password.</div>
		<div id=diffPsw class="alert alert-danger" role="alert"
			style="display: none">Insert the same passord in both field.</div>
		<div id="succPsw" class="alert alert-success" role="alert"
			style="display: none">Password changed. You will be redirected
			to the login page.</div>


		<form id="pswFormUser" th:action="@{/ajax/changePsw}" method="post">
			<div class="modal-body">
				<div class="form-group">
					<label for="psw1">New Password:</label> <input type="password"
						class="form-control" id="psw1" required>
				</div>
				<div class="form-group">
					<label for="psw2">Repeat Password:</label> <input type="password"
						class="form-control" id="psw2" required>
				</div>
			</div>
			<div class="modal-footer">
				<button id="pswButton" type="submit" class="btn btn-primary">Send</button>
			</div>
		</form>


	</div>

	<div th:replace="fragments/footer :: scripts"></div>
	<script type="text/javascript" th:src="@{/js/user-change-password.js}"></script>


</body>
</html>